/*
app default css

header
*/

html {
  font-size: 65%;
}

body {
  background-color: #282828;
  color: #9a9b99;
  font-size: 2.5em;
  /* width: 70%; */
}

#app {
  width: 100%;
  margin: 0 auto;
}


.app-header {
  background-color: #282828;
  color: #d0b344;
  height: 80px;

}

.app-body {
  background-color: #1e1e1e;
  float: right;
  width: calc(100% - 200px);
}

.app-body .content-wrap {
  background-color: #1e1e1e;
  margin: 10px;
}

.app-footer {
  background-color: #282828;
  color: #676867;
  clear: both;
  height: 150px;
}

.division-line {
  display: block;
  height: 0.5px;
  margin: 0;
  border-width: 1px 0 0;
  border-top: 1px solid #4e4e4e;
  background-color: #4e4e4e;
  box-sizing: border-box;
}

.division-line-vertical {
  display: block;
  width: 0.5px;
  margin: 0;
  border-width: 1px 0 0;
  border-left: 1px solid #4e4e4e;
  background-color: #4e4e4e;
  box-sizing: border-box;
}

.side-wrap-block {
  display: block;
}

.side-wrap-none {
  display: none;
}


/* 5000 보다 작을때 적용*/
@media (max-width:5000px) {
  .side-wrap-block {
    display: block;
  }

  .side-wrap-none {
    display: block;
  }

}

/* 400 보다 작을때 적용*/
@media (max-width:400px) {
  .side-wrap-block {
    display: block;
  }

  .side-wrap-none {
    display: none;
  }

  .app-body {
    background-color: #1e1e1e;
    float: left;
    width: 100%;
  }

}
