/*
app default css

header
*/

html {
  font-size: 65%;
}

body {
  background-color: #282828;
  color: #9a9b99;
  font-size: 2.5em;
  /* width: 70%; */
}

#app {
  width: 100%;
  margin: 0 auto;
}

.app-header {
  background-color: #282828;
  color: #d0b344;
  height: 80px;
}


.app-body {
  background-color: #1e1e1e;
}

.app-footer {
  background-color: #282828;
  color: #676867;
  clear: both;
  height: 150px;
}

.division_line {
  display: block;
  height: 0.5px;
  margin: 0;
  border-width: 1px 0 0;
  border-top: 1px solid #4e4e4e;
  background-color: #4e4e4e;
  box-sizing: border-box;
}

/* @media (max-width: 1220px) {
  #app {
    width: 95%;
  }
}

@media (max-width: 400px) {
  #app {
    width: 100%;
  }

  .app-header {
    height: 80px;
  }

  .app-aside {
    width: 100%;
    height: 300px;
    display: none;
  }

  .app-body {
    background-color: #1e1e1e;
    width: 100%;
    float: left;
  }
} */
