/*
app markdown css

 
*/
h1,
h2 {
  border-bottom: 1px solid #1e1e1e;
  padding-bottom: 8px
}

code {
  font-family: "KimNamyun";
}

pre {
  background-image: linear-gradient(#ddd2a2 1px, transparent 1px);
  background-size: 100% 1.35em;
}

blockquote {
  width: 80%;
  background-color: #faefc6b6;
  border-left: 10px solid rgb(238, 99, 106);
  margin: 10px;
  padding: 10px;
}


th {
  background-color: rgba(0, 0, 0, 0.692);
  color: white;
}

td {
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
