/*
app theme css

*/

.dark .app-theme-header {
  background-color: #282828;
  color: #d0b344;
}

.dark .app-theme-content {
  background-color: #1e1e1e;
}

.dark .menu-depth1-st {
  background-color: #272727;
  color: #C7444A;
}

.dark .menu-depth2-st {
  background-color: #383838;
  color: rgb(203, 141, 245);
}

.white .app-theme-header {
  background-color: #ffffff;
  color: #d0b344;
}

.white .app-theme-content {
  background-color: #ffffff;
}

.white .app-theme-side {
  background-color: #ffffff;
}

.white .menu-depth1-st {
  background-color: #ffffff;
  color: #C7444A;
}

.white .menu-depth2-st {
  background-color: #ffffff;
  color: rgb(117, 52, 160);
}

button.menu-depth1.menu-depth1-st.active {
  border-left: 5px solid #C7444A
}

.side-menu-container ul {
  margin: 0px 0px 0px 0px;
}

.side-menu-container li {
  list-style: none;
  margin: 5px 0px 0px 0px;
  font-size: 1.3rem;
  font-weight: bold;
}

.side-menu-container a:link {
  color: #1e1e1e;
  text-decoration: none;
}


.side-menu-container a:visited {
  color: #1e1e1e;
  text-decoration: none;
}

.side-menu-container a:hover {
  color: #1e1e1e;
  text-decoration: none;
}

.side-menu-container a:active {
  color: #1e1e1e;
  text-decoration: none;
}
