/*
header

*/

.side-menu-btn {
  display: none;
}

.hd-align {
  text-align: left;
  padding-top: 0px;
  font-family: "Shadows Into Light";
  font-size: 3em;
}

@media (max-width:400px) {
  .side-menu-btn {
    display: block;
    color: #C7444A;
    float: left;
    width: 30px;
    height: 30px;
    padding-top: 20px;
    margin: 3px;
    margin-right: 10px;
  }
}
