/*
aside 
*/


.side-menu-container {
  height: 100%;
  width: 200px;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  margin-top: 80px;
  border-right: 1px solid #4e4e4e;
}

.page-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  margin-top: 90px;
}

.animate {
  position: relative;
  animation: animateleft 0.4s
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}


.menu-depth1 {
  width: 100%;
  background-color: #272727;
  color: #C7444A;
  text-align: left;
  padding: 8px 16px;
  display: block;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
  font-family: "KimNamyun",
    cursive;
  font-size: 1.5em;
  font-weight: bold;
}

.menu-depth2 {
  width: 100%;
  background-color: #383838;
  color: rgb(203, 141, 245);
  font-weight: bold;
  text-align: left;
  padding: 8px 16px;
  display: block;
  text-indent: 10px;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
  font-family: "KimNamyun",
    cursive;
  font-size: 1.5em;
}

/* 5000 보다 작을때 적용*/
@media (max-width:5000px) {
  .page-overlay {
    display: none;
  }
}

/* 400 보다 작을때 적용*/
@media (max-width:400px) {
  .page-overlay {
    display: block;
  }

}
