/*
app content
*/

.content-wrap {
  margin: 70px 10px 10px 10px;
  font-size: 1.5em;
  height: calc(100% - 80px);
  width: calc(100% - 200px);
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}

@media (max-width: 500px) {
  .content-wrap {
    width: 100%;
  }
}
